<!DOCTYPE html>
<html lang="en">
<head>
  <title>nginx to node.js with MySQL</title>
</head>
<body>
    <div class="table-data">
    <h1>Full Cycle 2.0</h1>
    <table border="1">
        <tr>
            <th>Lista de nomes cadastrada no banco de dados</th>
        </tr>
        
        <%
        if(userData.length!=0){
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.name %></td>
        </tr>
        <% })} else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>